python-dotenv
openpyxl
xmltodict
requests
selenium
dateparser
beautifulsoup4
APScheduler
Jinja2
aiogram
keyboard
PyGetWindow
pyperclip
PyJWT
selectolax
PyAutoGUI
python-dotenv
Pillow
dateparser
openpyxl